<div class="modal-header">
	<div class="modal-title">
		{{ this.data.record.id == null ? '添加' : '修改' }}活动
	</div>
</div>
<sf #sf mode="edit" [schema]="schema" [compact]="true" button="none">
	<ng-template sf-template="cover" let-me let-ui="ui" let-schema="schema">
		<nz-row>
			<nz-upload
				nz-col
				nzAccept="image/*"
				[(nzFileList)]="imageList[0]"
				[nzFileListRender]="imageTpl"
				[nzBeforeUpload]="beforeUploadImage0"
			>
				<button nz-button>
					<i nz-icon nzType="upload"></i>
					<span>上 传</span>
				</button>
				<span class="mx-md text-grey">PC端 (262px*212px)</span>
			</nz-upload>
			<nz-upload
				nz-col
				nzAccept="image/*"
				[(nzFileList)]="imageList[1]"
				[nzFileListRender]="imageTpl"
				[nzBeforeUpload]="beforeUploadImage1"
			>
				<button nz-button>
					<i nz-icon nzType="upload"></i>
					<span>上 传</span>
				</button>
				<span class="mx-md text-grey">移动端 (710px*280)</span>
			</nz-upload>
		</nz-row>
	</ng-template>
	<ng-template sf-template="content" let-me let-ui="ui" let-schema="schema">
		<app-wang-editor [(content)]="content"></app-wang-editor>
	</ng-template>
</sf>

<div class="modal-footer">
	<button nz-button type="button" (click)="close()">取 消</button>
	<button
		nz-button
		type="submit"
		[nzType]="'primary'"
		(click)="save(sf.value)"
		[disabled]="!isValidForm()"
	>
		确 定
	</button>
</div>

<ng-template #imageTpl let-list>
	<div
		nz-row
		nzAlign="middle"
		*ngFor="let item of list"
		class="logo-upload mt-sm"
	>
		<img
			[_src]="item.url ? item.url : ''"
			error="assets/img/empty.png"
			alt="Avatar"
		/>
	</div>
</ng-template>

<nz-modal
	[nzVisible]="previewImageVisible"
	[nzContent]="modalImageContent"
	[nzFooter]="null"
	(nzOnCancel)="previewImageVisible = false"
>
	<ng-template #modalImageContent>
		<img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
	</ng-template>
</nz-modal>
