<nz-card [nzBordered]="false">
	<form
		nz-form
		[nzLayout]="'inline'"
		(ngSubmit)="getData()"
		class="search__form"
	>
		<div nz-row [nzGutter]="16" class="w-100">
			<div nz-col nzSpan="6">
				<nz-form-item>
					<nz-form-label nzFor="title">活动标题</nz-form-label>
					<nz-form-control>
						<input
							nz-input
							[(ngModel)]="queryParams.title"
							name="title"
							placeholder="请输入搜索标题"
						/>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="8">
				<nz-form-item>
					<nz-form-label nzFor="date">活动时间</nz-form-label>
					<nz-form-control>
						<nz-range-picker
							[(ngModel)]="queryParams.date"
							name="date"
						></nz-range-picker>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="4">
				<nz-form-item>
					<nz-form-control>
						<label
							nz-checkbox
							[(ngModel)]="queryParams.with_expo"
							name="with_expo"
						>
							同期活动
						</label>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="6" class="text-right">
				<button nz-button type="submit" [nzType]="'primary'">
					查询
				</button>
				<button nz-button type="reset" (click)="reset()" class="ml-sm">
					重置
				</button>
			</div>
		</div>
	</form>
</nz-card>
<nz-card [nzBordered]="false">
	<div
		nz-row
		[nzType]="'flex'"
		[nzJustify]="'space-between'"
		[nzAlign]="'middle'"
		class="mb-md"
	>
		<div></div>
		<div>
			<button nz-button (click)="openModal()" [nzType]="'primary'">
				<span>添加活动</span>
			</button>
		</div>
	</div>
	<st
		#st
		[columns]="columns"
		[data]="list"
		[loading]="loading"
		[total]="total"
		[page]="{ front: false, showSize: true, showQuickJumper: true }"
		(change)="stChange($event)"
	>
		<ng-template st-row="subtag" let-i>
			<nz-badge
				[nzColor]="activityType[i.subtag].color"
				[nzText]="activityType[i.subtag].label"
			></nz-badge>
		</ng-template>
		<ng-template st-row="activity_link" let-i>
			<a
				[attr.href]="'http://www.antway.cn/activities/detail/' + i.id"
				target="_blank"
			>
				{{ i.title.zh || i.title.en || '-' }}
			</a>
		</ng-template>
	</st>
</nz-card>
