<nz-card [nzBordered]="false">
	<div
		nz-row
		[nzType]="'flex'"
		[nzJustify]="'space-between'"
		[nzAlign]="'middle'"
		class="mb-md"
	>
		<div></div>
		<div>
			<button nz-button (click)="openRecommend()" [nzType]="'primary'">
				<span>添加推荐</span>
			</button>
		</div>
	</div>
	<st
		#st
		[columns]="columns"
		[data]="list"
		[loading]="loading"
		[total]="total"
		[page]="{ front: false, showSize: true, showQuickJumper: true }"
		(change)="stChange($event)"
	>
		<ng-template st-row="product" let-i>
			<div class="product">
				<img
					[_src]="
						i.images[0] && i.images[0].url ? i.images[0].url : ''
					"
					error="assets/img/empty.png"
					alt="Avatar"
				/>

				<sv-container size="small" col="1" gutter="0">
					<sv label="产品序号">{{ i.serial || '-' }}</sv>
					<a
						[attr.href]="
							'http://www.antway.cn/product/detail/' + i.id
						"
						target="_blank"
						class="nobreak"
					>
						{{ i.name?.zh }}
					</a>
					<sv label="产品分类">{{ i.category?.name?.zh || '-' }}</sv>
				</sv-container>
			</div>
		</ng-template>
	</st>
</nz-card>
