<nz-card [nzBordered]="false">
	<div
		nz-row
		[nzType]="'flex'"
		[nzJustify]="'space-between'"
		[nzAlign]="'middle'"
		class="mb-md"
	>
		<div></div>
		<div>
			<button
				nz-button
				(click)="openRecommendSeller()"
				[nzType]="'primary'"
			>
				<span>添加推荐</span>
			</button>
		</div>
	</div>
	<st
		#st
		[columns]="columns"
		[data]="list"
		[loading]="loading"
		[total]="total"
		[page]="{ front: false, showSize: true, showQuickJumper: true }"
		(change)="stChange($event)"
	>
		<ng-template st-row="company_link" let-i>
			<a
				[attr.href]="'http://www.antway.cn/company/home?id=' + i.id"
				target="_blank"
			>
				{{ i.name?.zh || i.name?.en || '-' }}</a
			>
		</ng-template>
	</st>
</nz-card>
