<div class="page-header p-0"></div>
<nz-card [nzBordered]="false">
	<div class="mb-lg text-center">
		<nz-radio-group
			[(ngModel)]="queryParams.filter"
			(ngModelChange)="getData()"
		>
			<label nz-radio-button nzValue=""
				><span>所&nbsp;&nbsp;&nbsp;有</span></label
			>
			<label nz-radio-button nzValue="passed"><span>出售中</span></label>
			<label nz-radio-button nzValue="pending"><span>待审核</span></label>
			<label nz-radio-button nzValue="on"><span>已下架</span></label>
		</nz-radio-group>
	</div>
	<form
		nz-form
		[nzLayout]="'inline'"
		(ngSubmit)="getData()"
		class="search__form"
	>
		<div nz-row [nzGutter]="16" class="w-100">
			<div nz-col nzSpan="6">
				<nz-form-item>
					<nz-form-label nzFor="name">产品名称</nz-form-label>
					<nz-form-control>
						<input
							nz-input
							[(ngModel)]="queryParams.name"
							name="name"
							placeholder="请输入搜索产品名称"
						/>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="6">
				<nz-form-item>
					<nz-form-label nzFor="company_name">企业名称</nz-form-label>
					<nz-form-control>
						<input
							nz-input
							[(ngModel)]="queryParams.company_name"
							name="company_name"
							placeholder="请输入搜索负责人姓名"
						/>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="4">
				<nz-form-item>
					<nz-form-label nzFor="user_name">姓名</nz-form-label>
					<nz-form-control>
						<input
							nz-input
							[(ngModel)]="queryParams.user_name"
							name="user_name"
							placeholder="搜索姓名"
						/>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="4">
				<nz-form-item>
					<nz-form-label nzFor="category_name">分类</nz-form-label>
					<nz-form-control>
						<input
							nz-input
							[(ngModel)]="queryParams.category_name"
							name="category_name"
							placeholder="搜索分类"
						/>
					</nz-form-control>
				</nz-form-item>
			</div>
			<div nz-col nzSpan="4" class="text-right">
				<button nz-button type="submit" [nzType]="'primary'">
					查询
				</button>
				<button nz-button type="reset" (click)="reset()" class="ml-sm">
					重置
				</button>
			</div>
		</div>
	</form>
</nz-card>
<nz-card [nzBordered]="false">
	<st
		#st
		[columns]="columns"
		[data]="list"
		[total]="total"
		[page]="{ front: false, showSize: true, showQuickJumper: true }"
		(change)="stChange($event)"
	>
		<ng-template st-row="product" let-i>
			<div class="product">
				<img
					[_src]="
						i.images[0] && i.images[0].url ? i.images[0].url : ''
					"
					error="assets/img/empty.png"
					alt="Avatar"
				/>
				<sv-container size="small" col="1" gutter="0">
					<sv label="产品序号">{{ i.serial || '-' }}</sv>
					<a
						[attr.href]="
							'http://www.antway.cn/product/detail/' + i.id
						"
						target="_blank"
						class="nobreak"
					>
						{{ i.name?.zh }}
					</a>
					<sv label="产品分类">{{ i.category?.name?.zh || '-' }}</sv>
				</sv-container>
			</div>
		</ng-template>
		<ng-template st-row="status" let-i>
			<nz-badge
				[nzColor]="status[i.status].color"
				[nzText]="status[i.status].label"
			></nz-badge>
		</ng-template>
	</st>
</nz-card>
